<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/interface.css" />
	<title>Coronamental</title>
</head>
<body class="bgc tc">

	<div id="app">
		<div class="currency_container">
			<div class="currency_cells">
				You have {{ format(player.currency.cells) }} cells
			</div>
			<div class="currency_prestigePoint">
				You have {{player.currency.prestigePoint}} PP
			</div>
		</div>
		
		<div class="building_container">
			<div class="building_flies">
				<div class="building building_flies" v-for="building in player.building">
					<building :building="building"></building>
				</div>
			</div>
		</div>
		<div class="building_hands">
			<div class="building building_hands" v-for="building in player.building">
				<building :building="building"></building>
			</div>
		</div>
		
		<div class="upgrade_container">
		</div>

	</div>

	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/building.js"></script>
	<script type="text/javascript" src="js/components/building.js"></script>

	<script type="text/javascript" src="js/player.js"></script>
	<script type="text/javascript" src="js/loop.js"></script>
	<script type="text/javascript" src="js/format.js"></script>
	<script type="text/javascript" src="js/main.js"></script>


</body>
</html>