
.bgc{
	background: repeating-radial-gradient(black, #19262c 1400px);
	}
.tc{
	color: white;
	}

#app {
	width: 60em;
	margin: auto;
}


.currency_container{
	display: flex;
	justify-content: center;
}

.currency_cells, .currency_prestigePoint{
	width: 10em;
	border: 1px solid white;
	text-align: center;
	padding: 2em;
}

.building_container{
	display: flex;
	flex-direction: column;
	margin-top: 5em;
}

.building{
	border: 1px solid white;
	width: 10em;
	height: 10em;
	text-align: center;
}

.building span{
	display: block;
}