@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    font-family: Roboto Slab;
}

.title{
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-decoration: underline;
    text-decoration-thickness: 1rem;
}

.navbar{
    position: fixed;
    width: 100%;
    padding: 0.3rem 0;
    transition: all 0.3s ease;
    z-index: 999;
}

.navbar.sticky{
    padding: 0.2rem 0;
    background-color: black;
}

.max-width{
    max-width: 100rem;
    padding: 0 80px;
    margin: auto;
}

.logo a img{
    padding: 3px;
    align-self: center;
    width: 180px;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7rem;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;

}

.navbar .menu li a {
    color: black;
    text-decoration: none;
    font-size: 1.35rem;
    font-weight: 600;
    margin-left: 2rem;
    transition: color 0.4s ease;

}

.navbar.sticky .menu li a {
    color: white;
    text-decoration: none;
    transition: color 0.4s ease;
}

.navbar .menu li a:hover{
    color: red;
}

.navbar.sticky .menu li a:hover{
    color: red;
}

/*menu btn*/
.menu-btn{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none ;
}

/*Home section*/

.home{
    display:flex;
    background: url("./Images/homeContent.jpg") no-repeat center;
    height: 100vh;
    min-height: 500px;
    background-attachment: fixed;
    background-size: cover;   
}

.home .max-width{
    margin: auto 0 auto 40px;
}

.home .home-content {
    color: #cef9ef;
}

.home .home-content .home-text1{
    font-size: 1.5rem;
}

.home .home-content .home-text2{
    font-size: 3.5rem;
    font-weight: 600;
    padding-top: 5px;
    margin-left: 5px;
}

.home .home-content .home-text3{
    font-size: 2.5rem;
    margin-left: 15px;
}

.home .home-content .home-text3 span{
    font-weight: 600;
    color: red;
}

/* projects section  */
.projects{
    display:flex;
    background:url("./Images/projectPattern.png") no-repeat center;
    height: 94vh;
    min-height: 500px;
    background-attachment: fixed;
    background-size: cover;     
}


.projects .projects-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 1rem;
}


.projects .projects-content .project-box{
    max-width: 20rem;
    min-height: 20rem;
    border: 2px transparent solid;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    border-radius: 2em;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(85, 68, 68, 0.05);
    padding: 1rem;
    margin: 2rem;
}

.project1{
    position: relative;
    left: -90rem;
    transition: all 1s ease-in;
}

.project2{
    position: relative;
    left: -90rem;
    transition: all 0.9s ease-in;
}

.project3{
    position: relative;
    left: -90rem;
    transition: all 0.8s ease-in;
}

.project-box.animate{
    transform: translateX(90rem);
}

.projects .projects-content .project-box .project-title{
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

/* about section  */
section{
    padding: 1.5rem 0;
}

.about{
    display:flex;
    background:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIj48ZGVmcz48cGF0dGVybiBpZD0icGF0dGVybiIgd2lkdGg9IjYyIiBoZWlnaHQ9IjYyIiB2aWV3Qm94PSIwIDAgNDAsNDAiIHBhdHRlcm5Vbml0cz0idXNlclNwYWNlT25Vc2UiIHBhdHRlcm5UcmFuc2Zvcm09InJvdGF0ZSgxMzUpICI+PHJlY3QgaWQ9InBhdHRlcm4tYmFja2dyb3VuZCIgd2lkdGg9IjQwMCUiIGhlaWdodD0iNDAwJSIgZmlsbD0icmdiYSgxMjEsIDc5LCAxNDYsMSkiPjwvcmVjdD4gPHBhdGggZmlsbD0icmdiYSgxMjEsIDc5LCAxNDYsMSkiIGQ9Ik0tMC41IDIwIGgxIHYyIGgtMSB6TTE5LjUgMjAgaDEgdjIgaC0xIHpNMzkuNSAyMCBoMSB2MiBoLTEgek01OS41IDIwIGgxIHYyIGgtMSB6Ij48L3BhdGg+PHBhdGggZmlsbD0icmdiYSg5NSwgMTkxLCAyNDksMSkiIGQ9Ik05Ljc1IDIwIGgwLjUgdjIgaC0wLjUgek0yOS43NSAyMCBoMC41IHYyIGgtMC41IHpNNDkuNzUgMjAgaDAuNSB2MiBoLTAuNSB6TTY5Ljc1IDIwIGgwLjUgdjIgaC0wLjUgeiI+PC9wYXRoPjwvcGF0dGVybj4gIDwvZGVmcz4gPHJlY3QgZmlsbD0idXJsKCNwYXR0ZXJuKSIgaGVpZ2h0PSIxMDAlIiB3aWR0aD0iMTAwJSI+PC9yZWN0Pjwvc3ZnPg==")no-repeat center;
    height: 94vh;
    min-height: 500px;
    background-attachment: fixed;
    background-size: cover;   
}

.about .title{
    padding-bottom: 4rem;
}

.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about .about-content .left{
    width: 40%;
    justify-self: center;
}
.about .about-content .right{
    width: 60%;
}

.about .about-content .right .text{
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.about .about-content .right p{
    font-size: 1.2rem;
    text-align: justify;
}

.about .about-content .left img{
    margin-left: 4rem;
    height: 400px;
    width: 350px;
    object-fit: cover;
    border-radius: 1rem;
}


/* contact styling */

.contact{
    display:flex;
    background:url("./Images/content_bg.png")no-repeat center;
    height: 80vh;
    min-height: 500px;
    background-attachment: fixed;
    background-size: cover;   
}

.contact .title{
    padding-bottom: 5rem;
}

.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
}

.contact .contact-content .column{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.contact .contact-content .left .head{
    font-weight: 650;
}

.contact .contact-content .left .sub-text{
    margin-bottom: 1.5rem;
}

.contact .contact-content .right{
    font-size: 1.3rem;
}

.contact .contact-content .row{
    display: flex;
    height: 3.5rem;
    align-items: center;
}


.contact .contact-content .sub-title{
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.contact .contact-content .fa-user{
    margin-right: 3px;
}

.contact .contact-content .info{
    margin-left: 1.5rem;
}

.contact .contact-content i{
    font-size: 1.5rem;
}

.contact .contact-content .right .row{
    margin: 2rem;
}

.contact .contact-content .right .row .text{
    color: black;
    text-decoration: underline;
}

.contact .contact-content .right .row .text:hover{
    text-decoration: none;
    color: blue;
}

.contact .contact-content .right .linkedin-logo{
    height: 64px;
    width: auto;
    padding: 0 2rem 0 2rem;
}

.contact .contact-content .right .github-logo{
    height: 64px;
    padding: 0 2rem 0 2rem;
}

.contact .contact-content .right .github .text{
    margin-left: 11.25px;
}

.contact .contact-content .right a:hover{
    transform: scale(1.1);
}




/* footer styling  */

footer{
    display: flex;
    background-color: black;
    justify-content: center;
    padding: 4px;
}

footer span{
    color: white;
    text-align: center;
}

footer span a{
    color: red;
    text-decoration: none;
}

footer span a:hover{
    text-decoration: underline;
    color: aqua;
}

/* reposnive media query start  */
@media (max-width:1436px){

    .projects .projects-content .project-box{
        max-width: 15rem;
        min-height: 20rem;
        margin: 1rem;
    }
}

@media (max-width: 1250px){
    .about{
        height: auto;
    }

    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 3rem;
    }

    .about .about-content .right{
        flex: 100%;
    }
    .about .about-content .left img{
        margin-left: 0;
    }

    .projects{
        height: auto;
    }
}

@media (max-width: 990px){
    
    .title{
        font-size: 2.5rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .max-width{
        padding: 0 40px;
    }
    .menu-btn{
        color: white;
        display: block ;
        z-index: 100;
    }
    .menu-btn i.active::before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background-color: black;
        text-align: center;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .max-width{
        padding: 0 4rem;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0 ;
        font-size: 1.8rem;
        color: white;
        padding-top: 2.2rem;

    }
    .home .home-content .home-text1{
        font-size: 1.5rem;
    }
    
    .home .home-content .home-text2{
        font-size: 2.5rem;
        font-weight: 600;
        padding-top: 5px;
        margin-left: 0;
    }
    
    .home .home-content .home-text3{
        font-size: 2rem;
        margin-left: 0;
    }

    .projects .projects-content .project-box{
        max-width: 15rem;
        min-height: 15rem;
        font-size: 0.9rem;
        margin: 1rem;
    }

    .projects .projects-content .project-box .project-title{
        font-weight: 600;
        font-size: 1.4rem;
    }
    .projects .projects-content .project-box .project-title p{
        font-size: 0.5rem;
    }


    .about .about-content .left img{
        height: 300px;
        width: 250px;
    }

    .about .about-content .right .text{
        font-size: 1.5rem;
        font-weight: 500;
    }
    
    .about .about-content .right p{
        font-size: 1rem;
        text-align: justify;
        padding-bottom: 2rem;
    }

    .contact .contact-content .sub-title{
        font-size: 1.5rem;
    }
    

    footer{
        font-size: 0.9rem;
    }
}

@media (max-width: 776px){
    
    .projects .projects-content .project-box .project-title{
        font-weight: 600;
        font-size: 1.2rem;
    }
    .projects .projects-content .project-box .project-title p{
        font-size: 1rem;
    }

    .contact{
        background:url("./Images/content_bg_sm.png")no-repeat center;  
    }

    .contact .contact-content .column{
        width: 100%;
        display: block;
        margin-left: 0;
    }
    .contact .contact-content .sub-title {
        text-align: center;
        font-size: 1.5rem;
    }
    
    .contact .contact-content .row {
        justify-content: center;
    }

    .contact .contact-content .left .sub-text {
        text-align: center;
    }
}

@media (max-width: 550px){
    .max-width{
        padding: 0 0.4rem;
    }
    .navbar .max-width{
        padding: 0 1.2rem;
    }

    .home .home-content .home-text1{
        font-size: 1.5rem;
    }
    
    .home .home-content .home-text2{
        font-size: 2.5rem;
        font-weight: 600;
        padding-top: 5px;
        margin-left: 0;
    }
    
    .home .home-content .home-text3{
        font-size: 2rem;
        margin-left: 0;
    }

    .about .about-content .right{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

}

